<div class="top-companions">
  <h2>{{ this.componentLabel }}</h2>

  <div *ngIf="this.items.length === 0">Nothing to show.</div>

  <ul>
    <li *ngFor="let item of this.items; let i = index">
      <div class="companion">
        <span class="rank">{{ getRankIcon(i) }}</span>
        <span class="label">{{ item.label }}</span>
        <span class="count">{{ item.itemCount }}
          @if (item.itemCount == 1) {
            {{this.itemUnit}}
          }
          @else {
            {{this.itemUnitPlural}}
          }
        </span>
      </div>
    </li>
  </ul>
</div>
