<app-modal
  [isModalOpen]="isModalOpen"
  (close)="closeEditRequestModal()"
  title="Travel Point Edit Requests">

  <ng-container *ngIf="(updateRequests && updateRequests?.length); else noRequestsTemplate">
    <app-item-list
      [items]="updateRequests"
      [displayProperty]="'placeName'"
      [buttonTemplate]="buttonsTemplate">
    </app-item-list>
  </ng-container>

  <ng-template #noRequestsTemplate>
    <p class="no-requests-message">No edit requests available.</p>
  </ng-template>

  <ng-template #buttonsTemplate let-item>
    <div class="button-group">
      <button (click)="acceptUpdateRequest(item)">Accept</button>
      <button class= "reject-button" (click)="rejectUpdateRequest(item)">Reject</button>
    </div>
  </ng-template>
</app-modal>
