<div class="point-container" [ngClass]="{ 'reversed': nodeNumber % 2 === 0 }">
  <div class="placeholder-container"></div>

  <div class="central-container">
    <div *ngIf="showLineBefore" class="line"></div>
    <div class="circle" #circle>{{ nodeNumber }}</div>
    <div *ngIf="showLineAfter" class="line"></div>
  </div>

  <div class="content-container" [ngClass]="{ 'content-reversed': nodeNumber % 2 === 0 }">
    <div class="point-background">
      <div class="upper-part">
        <span class="point-title">{{ travelPoint.placeName }}</span>
      </div>
      <div class="lower-part">
        <button (click)="triggerEditPointModal()">Edit</button>
        <button (click)="triggerEditRequestsModal()">Requests</button>
        <button class="delete-button" (click)="deletePoint(travelPoint)">Delete</button>
      </div>
    </div>
  </div>
</div>
