<div>
  <div class="circle-container">
      <div class="circle" (click)="openPointDetailsModal()">{{ nodeNumber }}</div>
      <div class="delete-circle" (click)="deletePoint(travelPoint)">−</div>
      <div class="edit-requests-circle" (click)="openPointEditRequestsModal()">✎
        <div *ngIf="updateRequests" class="edit-requests-amount">{{updateRequests.length}}</div>
      </div>
  </div>
  <div class="info">
    <strong>{{ travelPoint.placeName }}</strong>
  </div>
</div>

<app-modal
  [isOpen]="isPointDetailsModalOpen"
  (close)="closePointDetailsModal()"
  title="Travel Point details">
  <form (submit)="updatePoint()">
    <label for="travelPointDetails">Place name</label>
    <input
      type="text"
      id="travelPointDetails"
      [(ngModel)]="editedTravelPoint.placeName"
      name="travelPointDetails"
      required
    />

    <div class="modal-buttons">
      <button type="submit">Submit!</button>
      <button type="button" (click)="closePointDetailsModal()">Cancel</button>
    </div>
  </form>
</app-modal>

<app-modal
  [isOpen]="isPointEditRequestsModalOpen"
  (close)="closePointEditRequestsModal()"
  title="Travel Point Edit Requests">

  <ng-container *ngIf="(updateRequests && updateRequests.length > 0); else noRequestsTemplate">
    <app-item-list
      [items]="updateRequests"
      [displayProperty]="'placeName'"
      [buttonTemplate]="buttonsTemplate">
    </app-item-list>
  </ng-container>

  <ng-template #noRequestsTemplate>
    <p class="no-requests-message">No edit requests available.</p>
  </ng-template>

  <ng-template #buttonsTemplate let-item>
    <button (click)="AcceptUpdateRequest(item)">Accept</button>
    <button (click)="RejectUpdateRequest(item)">Reject</button>
  </ng-template>

</app-modal>

