.point-container{
  display: flex;
  height: 10vh;
}

.point-container.reversed {
  flex-direction: row-reverse;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15vw;
}

.content-container.reversed {
  align-items: flex-end;
}

.central-container {
  width: 10vh;
  height: 10vh;
}

.placeholder-container {
  opacity: 0;
  pointer-events: none;
  cursor: default;
  width: 15vw;
  height: 100%;
}

.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--primary-color) 2px;
  color: var(--header-background-color);
  border-radius: 100%;
  height: 100%;
  font-family: var(--font-family), serif;
  font-size: 1.5rem;
}

.point-title {
  font-family: var(--font-family), serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover-color);
  color: var(--secondary-color);
}

.delete-button {
  background-color: var(--error-color);
}

.delete-button:hover {
  background-color: var(--error-hover-color);
}
