<div class="point-container" [ngClass]="{ 'reversed': nodeNumber % 2 === 0 }">
<div class="content-container" [ngClass]="{ 'reversed': nodeNumber % 2 === 0 }">
  <div class="upper-part">
    <span class="point-title">{{ travelPoint.placeName }}</span>
    </div>
  <div class="lower-part">
    <button (click)="triggerEditPointModal()">Edit</button>
    <button (click)="triggerEditRequestsModal()">Requests</button>
    <button class = "delete-button" (click)="deletePoint(travelPoint)">Delete</button>
  </div>
  </div>
  <div class="central-container">
    <div class="circle" [ngClass]="{ 'offset-circle': nodeNumber % 2 === 0 }">{{ nodeNumber }}</div>
  </div>
  <div class="placeholder-container"></div>
</div>
