.point-container {
  display: flex;
  align-items: center;
}

.point-container.reversed {
  flex-direction: row-reverse;
}

.placeholder-container {
  width: 30vw;
}

.central-container {
  width: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family), serif;
  font-size: 1.5rem;
  color: var(--header-background-color);
}

.content-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left:100px;
}

.content-reversed {
  padding-right: 100px;
  padding-left:0;
}

.point-container.reversed .content-container {
  align-items: flex-end;
}

.point-background {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 8px;
  color: white;
}

.upper-part {
  padding-bottom: 1rem;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(0.98);
}

.delete-button {
  background-color: var(--error-color);
}

.delete-button:hover {
  background-color: var(--error-hover-color);
}
