<app-modal
  [isOpen]="isModalOpen"
  (close)="closeChangeActiveModal()"
  title="Create New Plan"
>
  <form (submit)="setActivePlan($event)">
    <label for="activePlan">Choose a plan:</label>
    <select id="activePlan" 
      [(ngModel)]="selectedPlan"
      name="activePlan"
      required
      (click)="fetchPlans()"
    >
      <option *ngFor="let plan of travelPlans" [ngValue]="plan">
        {{ plan.title }}
      </option>
    </select>

    <div class="modal-buttons">
      <button type="submit">Set Active</button>
      <button type="button" (click)="closeChangeActiveModal()">Cancel</button>
    </div>
  </form>
</app-modal>