<app-modal
  [isModalOpen]="isModalOpen"
  (close)="closeChangeActiveModal()"
  title="Set Active Plan">
  <form (submit)="setActivePlan($event)">
    <div class="form-group">
      <label class="input-group-label" for="selectedPlan">Choose a plan:</label>
      <select
        class="form-select"
        id="selectedPlan"
        [(ngModel)]="this.selectedPlan"
        name="selectedPlan">
        <option *ngFor="let plan of travelPlans" [ngValue]="plan">
          {{ plan.title }}
        </option>
      </select>
    </div>
    <div class="button-group">
      <button type="submit">Set Active</button>
      <button type="button" (click)="closeChangeActiveModal()">Cancel</button>
    </div>
  </form>
</app-modal>
