<div class="star-rating">
  <div class="stars-container">
    <span
      *ngFor="let star of stars; let i = index"
      class="star"
      [ngClass]="{
        'full': (hoverIndex > 0 ? i < hoverIndex : star === 'full'),
        'half': (hoverIndex === 0 && star === 'half'),
        'empty': (hoverIndex > 0 ? i >= hoverIndex : star === 'empty')
      }"
      (mouseover)="!readonly && setHover(i + 1)"
      (mouseleave)="!readonly && clearHover()"
      (click)="!readonly && rate(i)"
    >
      &#9733;
    </span>
  </div>
  <div class="rating-value-container">
    @if(this.rating > 0)
    {
      <span>{{this.rating}} / {{this.max}}</span>
    } @else {
      <span>Add first review!</span>
    }
  </div>
</div>
