.form-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    display: block;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

.item-list-wrapper {
  height: 30vh;
  overflow-y: auto;
}
