button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--blue-dark);
  color: var(--white);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.input-group-label {
  padding-bottom: 0.5rem;
}
