<app-modal
  [isModalOpen]="isModalOpen"
  (close)="closeEditPointModal()"
  title="Edit Travel Point">
  <div class="form-group">
    <form *ngIf="pointToEdit" (ngSubmit)="editedPoint()">
      <div class="input-group">
        <label class="input-group-label" for="placeName">Point name:</label>
        <input
          id="placeName"
          type="text"
          [(ngModel)]="pointToEdit.placeName"
          name="placeName"
          required
        />
      </div>
      <div class="button-group">
        <button type="submit">Update</button>
        <button type="button" (click)="closeEditPointModal()">Cancel</button>
      </div>
    </form>
  </div>
</app-modal>
