<app-modal
  [isModalOpen]="isModalOpen"
  (close)="closePlanCreationModal()"
  title="Create New Plan"
>
  <form (submit)="createPlan($event)">
    <div class="form-group">
      <div class="input-group">
        <label class="input-group-label" for="title">Title: <span class="required">*</span></label>
        <input
          class="form-input"
          type="text"
          id="title"
          [(ngModel)]="formData.title"
          name="title"
          required
        />
      </div>

      <div class="input-group">
        <label class="input-group-label" for="description">Description:</label>
        <input
          class="form-input"
          type="text"
          id="description"
          [(ngModel)]="formData.description"
          name="description"
        />
      </div>

      <div class="input-group">
        <label class="input-group-label" for="from">From:</label>
        <input
          class="form-input"
          type="date"
          id="from"
          [(ngModel)]="formData.from"
          name="from"
        />
      </div>

      <div class="input-group">
        <label class="input-group-label" for="to">To:</label>
        <input
          class="form-input"
          type="date"
          id="to"
          [(ngModel)]="formData.to"
          name="to"
        />
      </div>

      <div class="button-group">
        <button type="submit">Create Plan</button>
        <button type="button" (click)="closePlanCreationModal()">Cancel</button>
      </div>
    </div>
  </form>

  <div *ngIf="errorMessages.length > 0" class="auth-errors fade-in">
    <div class="auth-error" *ngFor="let errorMessage of errorMessages">
      {{ errorMessage }}
    </div>
  </div>
</app-modal>
