@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.auth-error {
  background-color: var(--pink-light);
  border-radius: 4px;
  color: var(--orange);
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.75rem;
  text-align: center;
}

.auth-errors {
  margin-top: 1rem;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button {
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--blue-dark);
  color: var(--white);
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.form-input:focus {
  border-color: var(--blue);
  box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.25);
  outline: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.input-group-label {
  padding-bottom: 0.5rem;
}

.required {
  color: var(--orange);
}
