.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.error-message {
    color: yellow;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    color: var(--header-background-color);
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 48%;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
}

button[type="submit"]:hover {
    background-color: var(--primary-hover-color);
  color: var(--background-color)
}

button.switch-button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

button.switch-button:hover {
  background-color: var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  color: white;
}

form {
    width: 90%;
    max-width: 400px;
    padding: 20px;
}

input.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    background: var(--secondary-color);
    border: transparent;
    color: var(--header-background-color);
}
