<div>
    <div style = "color: red" *ngIf="error">
        {{ error }}
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            class="form-control"
            ngModel
            name="email"
            required
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            class="form-control"
            ngModel
            name="password"
            required
            />
        </div>
        <button type="submit">
            {{ isLoginMode ? 'Log In' : 'Sign up' }}
        </button>
    </form>
    <button (click)="toggleAuthMode()">
        Switch to {{ isLoginMode ? 'Sign Up' : 'Log In' }}
    </button> 
</div>