.roadmap {
  display: flex;
  align-items: flex-start;
}

.node {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  background: var(--primary-color);;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin-left: 10px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--primary-color) 2px;
  border-radius: 100%;
  width:7vh;
  height: 7vh;
  font-family: var(--font-family), serif;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button:hover {
  background-color: var(--primary-hover-color);
  border: solid var(--primary-hover-color) 2px;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover-color);
  color: var(--secondary-color);
  transform: scale(0.98);
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.active-plan-title {
  color: var(--header-background-color);
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.active-plan-date {
  color: var(--header-background-color);
  font-size: 15px;
}

.active-plan-description {
  margin-bottom: 10vh;
  border-bottom: solid var(--header-background-color) 2px;
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.node-container {
  display: flex;
  align-items: center;
  position: relative;
}

.node-container.reverse {
  flex-direction: row-reverse;
}

.node {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: relative;
  z-index: 1;
}

.line {
  width: 2px;
  height: 5vh;
  background-color: var(--header-background-color);
  margin: 0 auto;
}
