<p>Active plan: {{ this.travelPlan?.title }}</p>
<div class="roadmap">
  <div *ngFor="let point of this.travelPlan?.planPoints; let last = last">
    <app-travel-point
      [travelPoint]="point"
      [updateRequests]="updateRequests.get(point.id) || []"
      [nodeNumber]="point.travelPlanOrderNumber"
      (pointDeletedEvent)="deletePoint($event)"
    />
  </div>
  <div class="node add-node" *ngIf="last" (click)="isModalOpen = true">
    <div class="circle">+</div>
  </div>
</div>

<app-modal
  [isOpen]="isModalOpen"
  (close)="closeCreatePointModal()"
  title="Add new Travel Point">

  <form (submit)="createPoint($event)">
    <label for="newTravelPoint">Create Travel Point</label>
    <input
      type="text"
      id="newTravelPoint"
      name="newTravelPoint"
      [(ngModel)]="newTravelPoint.placeName"
      required/>

    <div class="modal-buttons">
      <button type="submit">Set Active</button>
      <button type="button" (click)="closeCreatePointModal()">Cancel</button>
    </div>
  </form>
</app-modal>
