<button (click)="isManageParticipantsModalOpen = true" >Manage participants</button>
<button (click)="isCreatePlanModalOpen = true" >Create plan</button>
<button (click)="isChangeActiveModalOpen = true" >Change active plan</button>
<button (click)="isUserPlansModalOpen = true" >User plans</button>
<button (click)="isUserInvitationsModalOpen = true" >My invitations</button>

<p>Active plan: {{ this.travelPlan.title }}</p>
<p>Invitations: {{invitations.length}}</p>

<span class="roadmap">
  <span *ngFor="let point of this.travelPlan?.travelPlanPoints; let last = last">
    <app-travel-point
      [travelPoint]="point"
      [updateRequests]="updateRequests.get(point.id) || []"
      [nodeNumber]="point.travelPlanOrderNumber"
      (pointDeletedEvent)="deletePoint($event)"
    />
  </span>
  <span class="node add-node" *ngIf="last" (click)="isCreatePointModalOpen = true">
    <span class="circle">+</span>
  </span>
</span>

<app-modal
  [isModalOpen]="isCreatePointModalOpen"
  (close)="closeCreatePointModal()"
  title="Add new Travel Point">

  <form (submit)="createPoint($event)">
    <label for="newTravelPoint">Create Travel Point</label>
    <input
      type="text"
      id="newTravelPoint"
      name="newTravelPoint"
      [(ngModel)]="newTravelPoint.placeName"
      required/>

    <span class="modal-buttons">
      <button type="submit">Set Active</button>
      <button type="button" (click)="closeCreatePointModal()">Cancel</button>
    </span>
  </form>
</app-modal>

<app-manage-participants-modal
  [isModalOpen]="isManageParticipantsModalOpen"
  [planId]="this.travelPlan.id"
  (closeModalEvent)="closeManageParticipantsModal()">
</app-manage-participants-modal>

<app-create-plan-modal
  [isModalOpen]="isCreatePlanModalOpen"
  (closeModalEvent)="closeCreatePlanModal()">
</app-create-plan-modal>

<app-change-active-plan-modal
  [isModalOpen]="isChangeActiveModalOpen"
  (closeModalEvent)="closeChangeActiveModal()">
</app-change-active-plan-modal>

<app-user-plans-modal
  [isModalOpen]="isUserPlansModalOpen"
  (closeModalEvent)="closeUserPlansModal()">
</app-user-plans-modal>

<app-user-invitations-modal
  [isModalOpen]="isUserInvitationsModalOpen"
  (closeModalEvent)="closeUserInvitationsModal()">
</app-user-invitations-modal>
