<app-modal
  [isModalOpen]="isModalOpen"
  (close)="closeModal()"
  title="Create Travel Point">
  <form (submit)="createPoint($event)">
    <label for="newTravelPoint">Create Travel Point</label>
    <input
      type="text"
      id="newTravelPoint"
      name="newTravelPoint"
      [(ngModel)]="newTravelPoint.placeName"
      required/>
    <span class="modal-buttons">
      <button type="submit">Set Active</button>
      <button type="button" (click)="closeModal()">Cancel</button>
    </span>
  </form>
</app-modal>
