<div class="component-container">
  <div class="roadmap-header">
    <div class="active-plan-description">
      <p class="description-item">
        Title: {{ travel?.title ? travel.title : "-" }}
      </p>
      <p class="description-item">
        Description: {{ travel?.description ? travel.description : "-" }}
      </p>
      <p class="description-item">
        Description: {{ this.travel?.from ? travel.from : "-" }}
      </p>
      <p class="description-item">
        Description: {{ this.travel?.to ? travel.to : "-" }}
      </p>
      <p class="description-item">
        Total cost value: {{ this.travel?.totalCostValue ? travel.totalCostValue : "-" }}
      </p>
      <p class="description-item">
        Rating: {{ this.travel?.rating ? travel.rating : "-" }}
      </p>
    </div>
    <div class="travel-rating">
      <app-travel-rating [rating]="travel.rating ?? 0" (rated)="onRated($event)"></app-travel-rating>
    </div>
  </div>

  <span class="roadmap">
    <ng-container *ngIf="travel?.travelPoints?.length && travel.travelPoints.length > 0; else noPoints">
      <ng-container *ngFor="let point of travel.travelPoints; let i = index; let last = last">
        <div class="node-container">
          <div class="node">
            <app-travel-point
              [travelPoint]=point
              [nodeNumber]=i+1
              [showLineAfter]="!last"
              [showLineBefore]="i !== 0"
            ></app-travel-point>
          </div>
        </div>
        <div *ngIf="!last" class="line"></div>
      </ng-container>
    </ng-container>

    <ng-template #noPoints>
      <div class="no-points-message">
        Given travel does not contain points.
      </div>
    </ng-template>
  </span>
</div>
