<div class="component-container">
  <div class="roadmap-header">
    <div class="left-container">
      <p class="description-item">Title: {{ travel.title || '-' }}</p>
      <p class="description-item">Description: {{ travel.description || '-' }}</p>
      <p class="description-item">From: {{ travel.from || '-' }}</p>
      <p class="description-item">To: {{ travel.to || '-' }}</p>
    </div>
    <div class="right-container">
      <div class="travel-rating">
        <app-travel-rating
          [rating]="travel.rating ?? 0"
          (rated)="onRated($event)"
        ></app-travel-rating>
      </div>
      <div class="travel-actions">
        <button
          class="action-button"
          [disabled]="travel.isFinished || this.currentUser?.id !== travel.ownerId"
          (click)="completeTravel()">
            Complete travel
        </button>
        <button
          class="action-button"
          (click)="changeActiveTravel()">
            Change active travel
        </button>
      </div>
    </div>
  </div>

  <span class="roadmap">
    <ng-container *ngIf="travel.travelPoints && travel.travelPoints.length > 0; else noPoints">
      <ng-container *ngFor="let point of travel.travelPoints; let i = index; let last = last">
        <div class="node-container">
          <div class="node">
            <app-travel-point
              [travelPoint]="point"
              [nodeNumber]="i + 1"
              [showLineAfter]="!last"
              [showLineBefore]="i !== 0"
              [isActive]="!this.travel.isFinished"
            ></app-travel-point>
          </div>
        </div>
        <div *ngIf="!last" class="line"></div>
      </ng-container>
    </ng-container>

    <ng-template #noPoints>
      <div class="no-points-message">Given travel does not contain points.</div>
    </ng-template>
  </span>

  <app-change-active-travel-modal
    [isModalOpen]="isChangeActiveTravelModalOpen"
    (closeModalEvent)="closeChangeActiveModal()">
  </app-change-active-travel-modal>
</div>
