<app-modal
  [isModalOpen]="isModalOpen"
  (close)="closeModal()"
  title="Manage Participants">

  <div class="modal-content-wrapper">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="filterUsers()"
      placeholder="Search users..."
      class="search-input" />

    <div *ngIf="error" class="error">{{ error }}</div>

    <div class="item-list-wrapper">
      <ng-container *ngIf="planParticipants.length > 0; else noResults">
        <app-item-list
          class="item-list"
          [items]="planParticipants"
          [displayProperty]="'email'"
          [buttonTemplate]="addButton">
        </app-item-list>
      </ng-container>
      <ng-template #noResults>
        <div class="no-results-wrapper">
          <span class="no-results">No users found.</span>
        </div>
      </ng-template>
    </div>

  </div>

  <ng-template #addButton let-item>
    <button (click)="addParticipant(item)">Add</button>
  </ng-template>
</app-modal>
