.search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover-color);
  color: var(--secondary-color);
}

.item-list-wrapper {
  width: 100%;
  height: 30vh;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.item-list {
  width: 100%;
}
