<app-modal
  [isModalOpen]="isModalOpen"
  (close)="closeModal()"
  title="Manage Participants">

  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="filterUsers()"
    placeholder="Search users..."
    class="search-input" />

  <div *ngIf="error" class="error">{{ error }}</div>

  <app-item-list
    [items]="planParticipants"
    [displayProperty]="'email'"
    [buttonTemplate]="addButton">
  </app-item-list>

  <ng-template #addButton let-item>
    <button (click)="addParticipant(item)">Add</button>
  </ng-template>
</app-modal>
