<div class="container">
    <div class="top-section">
      <div class="buttons">
        <button (click)="openCreatePlanModal()">Create plan</button>
        <button (click)="openUserPlansModal()">My plans</button>
        <button (click)="openChangeActiveModal()">Change active</button>
        <button (click)="openManageParticipantsModal()">Manage Participants</button>
      </div>
      <h1>Active travel plan:</h1>
      <p *ngIf="activePlan">{{ activePlan.title }}</p>
      <p *ngIf="!activePlan">No active plan selected</p>
    </div>
</div>

<app-points-roadmap
  [isModalOpen]="isCreatePointModalOpen"
  (closeModalEvent)="closeCreatePointModal()">
</app-points-roadmap>

<app-create-plan-modal
  [isModalOpen]="isCreatePlanModalOpen"
  (closeModalEvent)="closeCreatePlanModal()"
  (createPlanEvent)="onPlanUpdated()">
</app-create-plan-modal>

<app-change-active-plan-modal
  [isModalOpen]="isChangeActiveModalOpen"
  (closeModalEvent)="closeChangeActiveModal()"
  (setActivePlanEvent)="onPlanUpdated()">
</app-change-active-plan-modal>

<app-user-plans-modal
  [isModalOpen]="isUserPlansModalOpen"
  (closeModalEvent)="closeUserPlansModal()">
</app-user-plans-modal>

<app-manage-participants-modal
  [isModalOpen]="isManageParticipantsModalOpen"
  (closeModalEvent)="closeManageParticipantsModal()">
</app-manage-participants-modal>
