button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--blue-dark);
}

.central-container {
  width: 10vh;
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family), serif;
  font-size: 3vh;
  color: var(--black);
}

.content-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.delete-button {
  background-color: var(--orange);
}

.delete-button:hover {
  background-color: var(--red);
}

.line {
  width: 1px;
  flex-grow: 1;
  background-color: var(--black);
}

.placeholder-container {
  width: 20vw;
}

.point-background {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.point-container {
  display: flex;
  align-items: stretch;
}

.point-container.reversed {
  flex-direction: row-reverse;
}

.point-container.reversed .content-container {
  align-items: flex-start;
}

.point-title {
  font-size: 2rem;
}

.upper-container {
  padding-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lower-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.button-wrapper {
  position: relative;
  flex: 1;
  display: flex;
}

.button-wrapper button {
  width: 100%;
}

.edit-requests-button .circle-indicator {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px var(--red);
  background-color: var(--orange);
  color: var(--white-dimmed);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .content-container {
    width: 30vw;
  }

  .placeholder-container {
    width: 30vw;
  }

  .circle {
    width: 100%;
  }
}
