<div class="wrapper">
  <div class="upper-container">
    <div class="left-part">
      <app-upcoming-travel-widget
        [travels]="upcomingTravels">
      </app-upcoming-travel-widget>
    </div>

    <div class="central-part">

      <app-top-three-items
        [componentLabel]="'Most common companions'"
        [itemUnit]="'travel'"
        [itemUnitPlural]="'travels'"
        [items]="getTopCompanions()"></app-top-three-items>
    </div>
    <div class="right-part">
      <app-number-widget
        [title]="'Total amount of travels'"

        [number]="this.travelsCount">
      </app-number-widget>
      <app-number-widget
        [title]="'Total amount of plans'"
        [number]="this.plansCount">
      </app-number-widget>
      <app-number-widget
        [title]="'Finished travels'"
        [number]="this.finishedTravelsCount">
      </app-number-widget>
    </div>
  </div>

  <div class="lower-container">
      <app-doughnut-chart-widget
        [data]="travelStatusData"
        [title]="'Finished travels percentage'">
      ></app-doughnut-chart-widget>
  </div>
</div>
