.wrapper {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.upper-container, lower-container {
  display: flex;
  width: 100%;
}

.lower-container {
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.upper-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
}

.upper-container > div {
  flex: 1;
  padding: 10px;
}

.upper-container > .left-part,
.upper-container > .central-part,
.upper-container > .right-part {
  flex: 1 1 0;
  padding: 10px;
}

.upper-container .right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.lower-container .upper-part .lower-part{
  display: flex;
}
