<header class="header">
    <h1 routerLink="/home" class="title">TravelCompanion</h1>

    <nav *ngIf="user$ | async as user;" class="nav-links">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/travels" routerLinkActive="active">Travels</a>
        <a routerLink="/plans" routerLinkActive="active">Plans</a>
        <a routerLink="/costs" routerLinkActive="active">Costs</a>
      </nav>

    <button class="logout-btn" *ngIf="user$ | async as user;" (click)="logout()">Log out</button>
</header>