.content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.logged-out-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
}

.main-content {
  background: var(--background-color);
  display: flex;
  width: calc(100vw - 50px);
  transition: width 0.3s ease;
  justify-content: center;
}

.main-content-logged-out {
  background: var(--background-color);
  display: flex;
  transition: width 0.3s ease;
  justify-content: center;
  width: 50%;
  background: var(--background-color);
  align-items: center;
}

.main-menu-photo {
  background: var(--background-color);
  display: flex;
  width: 50%;
  transition: width 0.3s ease;
  justify-content: center;
  height: calc(100vh - 70px);
}

.main-content-expanded {
  display: flex;
  width: 75%;
  transition: width 0.3s ease;
}

.main-content-dimmed {
  filter: brightness(0.5);
  pointer-events: none;
}

.side-panel{
  display: flex;
  width: 50px;
  transition: width 0.3s ease;
}

.side-panel-expanded{
  display: flex;
  width: 25%;
  transition: width 0.3s ease;
}

.dimmed {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.full-size-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
