.content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.logged-out {
  height: 100vh;
}

.main-content {
  background: var(--white-dimmed);
  display: flex;
  justify-content: center;
  width: 100%;
  transition: width 0.3s ease;
}

.main-content-logged-out {
  background: var(--white-dimmed);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
  width: 50%;
}

.image-fade-wrapper {
  background-color: var(--white-dimmed);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.full-size-image {
  width: 125%;
  position: relative;
  left: -6%;
}
