.content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.logged-out {
  height: 100vh;
}

.logged-out-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
}

.side-panel {
  width: 70px;
  transition: width 0.3s ease;
  background-color: var(--primary-hover-color);
}

.side-panel-expanded {
  width: 15%;
  transition: width 0.3s ease;
}

.main-content {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  width: 100%;
  transition: width 0.3s ease;
}

.main-content-expanded {
  width: 85%;
  transition: width 0.3s ease;
  filter: brightness(0.5);
  pointer-events: none;
}

.main-content-logged-out {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
  width: 50%;
}

.image-fade-wrapper{
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.full-size-image {
  width: 125%;
  position: relative;
  left: -6%;
}
