.side-panel {
  position: absolute;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.side-panel.expanded {
  width: 25%;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.material-icons {
  font-size: 30px;
}

.side-panel-icon,
.side-panel-icon-label {
  color: var(--header-background-color);
}

.side-panel-icon:hover,
.side-panel-icon-label:hover {
  color: var(--header-background-color);
}

.side-panel-icon {
  padding: 10px;
}

.side-panel-element {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.side-panel-element:not(:first-child):hover,
.side-panel-element.active {
  background-color: var(--primary-color);
}
