<div class="side-panel" [class.expanded]="isSidebarExpanded">

  <div class="panel-content">
    <a class="side-panel-element">
      <span class="side-panel-icon material-icons" *ngIf="isSidebarExpanded" (click)="togglePanel()">close</span>
      <span class="side-panel-icon material-icons" *ngIf="!isSidebarExpanded" (click)="togglePanel()">menu</span>
    </a>
    <a class="side-panel-element" routerLink="/travels" routerLinkActive="active">
      <span class="side-panel-icon material-icons">flight_takeoff</span>
      <span class="side-panel-icon-label" *ngIf="isSidebarExpanded">Travels</span>
    </a>
    <a class="side-panel-element" routerLink="/plans" routerLinkActive="active">
      <span class="side-panel-icon material-icons">assignment</span>
      <span class="side-panel-icon-label" *ngIf="isSidebarExpanded">Plans</span>
    </a>
    <a class="side-panel-element" routerLink="/costs" routerLinkActive="active">
      <span class="side-panel-icon material-icons">attach_money</span>
      <span class="side-panel-icon-label" *ngIf="isSidebarExpanded">Costs</span>
    </a>
  </div>
</div>
