.side-panel {
  position: absolute;
  height: 95vh;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  width: 50px;
  color: white;
}

.side-panel.expanded {
  width: 25%;
  display: block;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.material-icons {
  font-size: 30px;
  padding: 10px;
  color: white;
}

.side-panel-element {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.side-panel-element:not(:first-child):hover{
  background-color: #4b6cb7;
}

.side-panel-icon-label {
  color: white;
}
