.point-container {
  display: flex;
  align-items: stretch;
}

.point-container.reversed {
  flex-direction: row-reverse;
}

.point-container.reversed .content-container {
  align-items: flex-start;
}

.placeholder-container {
  width: 20vw;
}

.central-container {
  width: 10vh;
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family), serif;
  font-size: 3vh;
  color: var(--header-background-color);
}

.line {
  width: 1px;
  flex-grow: 1;
  background-color: black;
}

.content-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.point-background {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upper-container {
  padding-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lower-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.button-wrapper {
  flex: 1;
  display: flex;
}

.button-wrapper button {
  width: 100%;
  padding: 0.5em;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-wrapper button:hover {
  background-color: var(--primary-hover-color);
}

.button-wrapper button:disabled {
  background-color: grey !important;
  color: #ccc !important;
  cursor: not-allowed !important;
  opacity: 0.6;
  pointer-events: none;
}

.visited {
  background-color: var(--error-color) !important;
}

.visited:hover {
  background-color: var(--error-hover-color) !important;
}

.point-title {
  font-size: 2rem;
}


@media (max-width: 768px) {
  .content-container {
    width: 30vw;
  }

  .placeholder-container {
    width: 30vw;
  }

  .circle {
    width: 100%;
  }
}
